
<ul class="w-[30%] border-r-2 p-4">
    <% for(const project of projects) { %>
    <li>
        <%= project.project_title %>
        <button class="text-right"><i class="fa-solid fa-trash-can"></i></button> 
    </li>
    <% } %>


</ul>

